//
// Theme style
//

// Initialize
@import "init";

// Components
@import "./core/components/components";
@import "components/components";

// Layout
@import "layout/layout";


#kt_content_container {
    @extend .container-fluid;
  }
  

  

